/* 此处样式，打包后和组件内部样式会重合，解决：要么引入打包的样式，要么引入组件样式，不能都引入 */
.vue3-tiptap-editor {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333;
}

.vue3-tiptap-editor > .vue3-tiptap-editor__toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* // background: rgba(24, 160, 88, 0.1); */
    background: #f0f0f0;
}
.vue3-tiptap-editor > .vue3-tiptap-editor__toolbar.vue3-tiptap-editor-enabled {
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
}
.vue3-tiptap-editor > .vue3-tiptap-editor__toolbar > .history-icon {
    fill: #666;
}
.vue3-tiptap-editor > .vue3-tiptap-editor__toolbar >.toolbar-icon--active {
    svg, path {
        fill: #18a058;
    }
}
.vue3-tiptap-editor > .vue3-tiptap-editor__toolbar >.toolbar-icon--readonly {
    svg, path {
        fill: #666;
    }
}
.vue3-tiptap-editor > .vue3-tiptap-editor__toolbar > svg:focus,
svg:active {
    border: 0;
    outline: none;
}

.vue3-tiptap-editor > .vue3-tiptap-editor__toolbar > .toolbar-icon--btn > svg {
    width: 1.3em;
    flex: 0 0 1.3em;
    height: 1.2em;
}
.vue3-tiptap-editor > .vue3-tiptap-editor__toolbar >.toolbar-icon__wrap > .toolbar-icon--btn > svg {
    width: 1.3em;
    flex: 0 0 1.3em;
    height: 1.2em;
}
.vue3-tiptap-editor > .vue3-tiptap-editor__content {
    border: 2px solid rgba(24, 160, 88, 0.1);
    min-height: 30rem;
    height: 100%;
    overflow-y: auto;
    padding: 0 0.4rem;
}
@layer button {
    button[data-editor-toolbar-btn="true"] {
        display: flex;
        align-items: center;
        padding: 0.5em 0.5em;
        outline: none;
        border: none;
        border-radius: 0.2em;
        cursor: pointer;
        height: 3em;
    }
}
/* @layer svg {
    .toolbar-icon--btn > svg {
        width: 1.3em;
        flex: 0 0 1.3em;
        height: 1.2em;
    }
} */