/* Basic editor styles */
.tiptap:focus {
    outline: none;
}
.tiptap {
    :first-child {
        margin-top: 0;
    }

    /* List styles */
    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    /* Heading styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    /* Code and preformatted text styles */
    code {
        background-color: var(--purple-light);
        border-radius: 0.4rem;
        color: var(--black);
        font-size: 0.85rem;
        padding: 0.25rem 0.3rem;
    }

    pre {
        background: var(--black);
        border-radius: 0.5rem;
        color: var(--white);
        font-family: "JetBrainsMono", monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }
        /* Code styling */
        .hljs-comment,
        .hljs-quote {
            color: #616161;
        }

        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-name,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
            color: #f98181;
        }

        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
            color: #fbbc88;
        }

        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
            color: #b9f18d;
        }

        .hljs-title,
        .hljs-section {
            color: #faf594;
        }

        .hljs-keyword,
        .hljs-selector-tag {
            color: #70cff8;
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: 700;
        }
    }

    blockquote {
        border-left: 3px solid var(--theme-color);
        margin: 1.4rem 0;
        padding: 0.5rem 0 0.5rem 0.8rem;
        background: var(--gray-3);
    }

    hr {
        border: none;
        border-top: 1px solid var(--gray-5);
        margin: 2rem 0;
    }

    // p style
    p {
        margin-block-start: 0.3rem;
        margin-block-end: 0.3rem;
    }

    /* Task list specific styles */
    ul[data-type="taskList"] {
        list-style: none;
        margin-left: 0;
        padding: 0.2rem 0;

        li {
            align-items: center;
            display: flex;

            > label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
            }

            > div {
                flex: 1 1 auto;
            }
        }

        input[type="checkbox"] {
            cursor: pointer;
        }
    }
    /* image style*/
    img {
        display: block;
        height: auto;
        margin: 1.5rem 0;
        max-width: 100%;
        &.ProseMirror-selectednode {
            outline: 3px solid var(--selected-border);
        }
    }
    /* Placeholder (at the top) */
    p.is-editor-empty:first-child::before {
        color: var(--gray-4);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
    /* Bubble menu */
    .bubble-menu {
        background-color: var(--white);
        border: 1px solid var(--gray-1);
        border-radius: 0.7rem;
        box-shadow: var(--shadow);
        display: flex;
        padding: 0.2rem;

        button {
            background-color: unset;

            &:hover {
                background-color: var(--gray-3);
            }

            &.is-active {
                background-color: var(--purple);

                &:hover {
                    background-color: var(--purple-contrast);
                }
            }
        }
    }

    /* Table-specific styling */
    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            border: 1px solid var(--gray-3);
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            > * {
                margin-bottom: 0;
            }
        }

        th {
            background-color: var(--gray-1);
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            // background: var(--gray-2);
            background: var(--selected-active-color);
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: var(--theme-color);
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }
}

/* SVG Icon */
.editor-svg-action__icon {
    width: 1.3em;
    flex: 0 0 1.3em;
    height: 1.2em;
    // fill: rgb(51, 54, 57);
}

/* Bubble menu */
.magic-bubble-menu {
    background-color: var(--white);
    border: 1px solid var(--gray-1);
    border-radius: 0.7rem;
    box-shadow: var(--shadow);
    display: flex;
    padding: 0.5rem;

    button {
        background-color: unset;
        border: none;
        font-weight: bold;
        &:hover {
            background-color: var(--gray-3);
            .menu-icon {
                fill: var(--theme-color);
            }
        }
        &.is-active {
            // background-color: var(--theme-color);
            color: var(--theme-color);
            .menu-icon {
                fill: var(--theme-color);
            }
            &:hover {
                background-color: var(--theme-color);
                color: var(--white);
                .menu-icon {
                    fill: var(--white);
                }
            }
        }
    }
}

/* Character count */
.character-count {
    align-items: center;
    color: var(--gray-5);
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    gap: .5rem;
    margin: 6px;
  
    svg {
      color: var(--purple);
    }
  
    &--warning,
    &--warning svg {
      color: var(--red);
    }
}