// 此处样式，打包后和组件内部样式会重合，解决：要么引入打包的样式，要么引入组件样式，不能都引入
.carrot-tiptap-editor {
    width: 100%;
    height: 100%;
    &__toolbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // background: rgba(24, 160, 88, 0.1);
        background: #f0f0f0;
        .history-icon {
            fill: #666;
        }
        .toolbar-icon__active {
            // background:rgba(24, 160, 88, 0.1);
            svg, path{
                fill: #18a058;
            }
        }
        .toolbar-icon__readonly {
            cursor: not-allowed;
            svg, path {
                fill: #666;
            }
        }
        svg:focus,
        svg:active {
            border: 0;
            outline: none;
        }
    
        svg {
            width: 1.3em;
            flex: 0 0 1.3em;
            height: 1.2em;
            // fill: rgb(51, 54, 57);
        }
    
        button[data-toolbar-type="toolbar-btn"] {
            display: flex;
            align-items: center;
            padding: 0.5em 0.5em;
            outline: none;
            border: none;
            border-radius: 0.2em;
            // background: transparent;
            cursor: pointer;
            height: 3em;
            &.is-disable {
                cursor: not-allowed;
                svg {
                    fill: #666;
                }
            }
        }
    }
    &__content {
        // height: 100%;
        // border-left: 1px solid #dedede;
        // border-bottom: 1px solid #dedede;
        // border-right: 1px solid #dedede;
        border: 2px solid rgba(24, 160, 88, 0.1);
        min-height: 30rem;
        height: 100%;
        overflow-y: auto;
        padding: 0 0.4rem;
    }   
}