// 滚动条样式美化
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background:#F7F7F7;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
	border-radius:10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(69,147,251, 0.37);
}