.image-viewer-vue3__root {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.nav-scroll-style__wrap {
    // 滚动条样式美化
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background:#F7F7F7;
    }

    /* 滚动槽 */
    ::-webkit-scrollbar-track {
        border-radius:10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(69,147,251, 0.37);
    }
}
.images-viewer-container__wrap {
    --active-icon-color: #3A8DF5;
    --active-text-color: var(--text-color, #eee);
    --nav-width: 90px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 9999;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    ul {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    &.is-active {
        opacity: 1;
    }
    .viewer-content__wrapper {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        .navbar-thumbnail__wrap {
            background-color: rgba(0, 0, 0, 0.6);
            width: 0px;
            overflow: hidden;
            transition: width 0.3s ease-out;
            &.active {
                width: var(--nav-width);
                // flex: 0 0 var(--nav-height);
            }
            .vnode-scroll__wrap {
                width: 100%;
                height: 100%;
                overflow-y: auto; /* 超出滚动 */
            }
            .list-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .list-group-item {
                    width: 80%;
                    height: 3rem;
                    opacity: 0.5;
                    border: 1px solid transparent;
                    margin: 0.2rem 0.3rem;
                    position: relative;
                    border-radius: 6px;
                    &.nav-active-current__img {
                        opacity: 1;
                        border: 2px solid var(--active-icon-color);
                    }
                    &:hover {
                        opacity: 1;
                    }
                    span {
                        position: absolute;
                        left: 20px;
                        top: 20px;
                        color: red;
                    }
                    .navbar-image {
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                        border-radius: 6px;
                        cursor: pointer;
                    }
                }
            }
        }
        .inner-image-wrap {
            flex: 1;
            width: 100%;
            height: 100%;
            transform-origin: top left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            perspective: 1000px;
            transform-style: preserve-3d;
            overflow: hidden;
            color: var(--active-text-color);
        }
        .inner-image-wrap > .inner-viewer__image {
            /* width: 100%;
            height: 100%; */
            flex: 0 1 auto;
            z-index: 1;
            /* transition: all 0.3s ease; */
            /* display: block; */
            -webkit-user-select: none;
            user-select: none;
            /* 保持宽高比显示，避免图片显示不全和被拉升 */
            /* object-fit: contain; */
            /* 图片会显示默认尺寸 */
            /* margin: auto; */
            /* 设置宽高为auto也能展示图片默认尺寸 */
            width: auto;
            height: auto; 
            object-fit: cover;
        }
    }
    
    .image-viewer-info__tag {
        position: absolute;
        top: 15px;
        left: 15px;
        color: #eee;
    }
    .image-viewer-close__btn {
        position: absolute;
        top: 15px;
        right: 15px;
        background: rgba(0, 0, 0, .3);
        border-radius: 50%;
        width: 44px;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        cursor: pointer;
    }
    .icon-is-hover:hover path {
        fill: var(--active-icon-color);
    }

    .close-icon {
        transition: fill .3s ease;
    }
    .viewer-previous-icon, .viewer-next-icon {
        position: fixed;
        background: rgba(0, 0, 0, .3);
        border-radius: 50%;
        width: 44px;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    .viewer-previous-icon {
        top: 40%;
        left: 0;
    }
    .viewer-next-icon {
        top: 40%;
        right: 0;
    }
    .navbar-control__wrap {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0;
        z-index: 10;
        .tool-item-icon__btn {
            margin: 0 4px;
        }
        .pagination-wrap {
            display: flex;
            align-items: center;
            color: #eee;
            .page-size-select {
                border-radius: 4px;
                outline: none;
                background: transparent;
                color: #eee;
                border-color: #eee;
                option {
                    color: #333; 
                }
            }
        }
        .position {
            position: absolute;
            left: 30px;
        }
    }
}

.cus-transition {
    transform: scale(1);
    transition: transform 0.3s ease;
}
.is-active-border-color {
    border: 1px solid var(--active-icon-color);
    opacity: 1 !important;
}